/* You can add global styles to this file, and also import other style files */
body, html {
  outline: none; /* Remove the default outline on the whole page */
  background-color: black;
  color: white;
  font-family: "Times New Roman", sans-serif;
}
