/* You can add global styles to this file, and also import other style files */
body, html {
  outline: none; /* Remove the default outline on the whole page */
  background-color: black;
  color: white;
  font-family: "Times New Roman", sans-serif;
}

/* styles.css */

/* Add your custom scrollbar styles */
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #ddd;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #ddd;
}
