/* Custom button style */
.btn-custom {
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover state for the button */
.btn-custom:hover {
  background-color: black;
  color: white;
  border-color: white;
  border-radius: 10px; /* Optionally, you can adjust the border-radius for sharp corners */
}

.dark-card {
  background-color: #000000; /* Dark background color */
  border: 2px solid white; /* White border */
  color: white; /* Text color */
  transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
  border-radius: 12px
}

/* CSS for the footer */
.footer {
  background-color: #000; /* Background color for the footer */
  text-align: center; /* Center align the content in the footer */
  padding: 20px; /* Add padding for spacing */
}

/* CSS for the image container in the footer */
.bottom-mid-image {
  max-width: 80%; /* Add a maximum width to the container */
  margin: 0 auto; /* Center the container horizontally within its parent */
}

/* CSS for the image in the footer */
.bottom-mid-image img {
  max-width: 100%; /* Make the image responsive */
  max-height: 225px;
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any inline whitespace */
  margin: 10px auto; /* Add margin for spacing around the image and center it horizontally */
}
