<div class="container">
  <h1 class="my-5">Leave a Review</h1>
  <hr>
  <form name="myForm" (ngSubmit)="postReview()" #addForm="ngForm">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" name="name" required [(ngModel)]="this.item.name">
    </div>
    <div class="form-group">
      <label>Rating:</label>
      <input type="number" class="form-control" name="rating" required [(ngModel)]="this.item.rating">
    </div>
    <div class="form-group">
      <label>Review:</label>
      <input type="text" class="form-control" name="feedback" required [(ngModel)]="this.item.feedback">
    </div>
    <button type="submit" class="btn btn-primary my-3">Post Review</button>
  </form>
  <hr>
  <div class="my-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Watch other items</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
