<div class="container d-flex flex-column align-items-center">
  <h1 class="my-5">Mani jedan review</h1>

  <form name="myForm" (ngSubmit)="postReview()" #addForm="ngForm" >

    <div class="form-group" style="margin-top: 40px">
      <input type="text" class="form-control form-control-lg black-textbox" placeholder="Ime..." name="name" required [(ngModel)]="this.item.name">
    </div>

    <div class="form-group" style="margin-top: 25px;">
      <textarea class="form-control form-control-lg black-textbox" name="feedback" rows="5" placeholder="Tvoj feedback..." required [(ngModel)]="this.item.feedback"></textarea>
    </div>

    <div class="form-group" style="margin-top: 40px;margin-left: 80px">
      <app-star-rating [rating]="0"></app-star-rating>
    </div>

    <button type="submit" class="btn btn-custom mt-4" style="margin-top: 40px;margin-left: 60px">Postiraj Review</button>
  </form>


  <div class="my-5">
    <nav>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Glidej na druge stvari</a>
        </li>
      </ul>
    </nav>
  </div>

</div>
